<button><i class="fas fa-bolt"></i></button>
<button><i class="fas fa-stopwatch"></i></button>
<button><i class="fas fa-barcode"></i></button>
<button class='active' (click)="goTo('/')"><i class="fas fa-shopping-cart"></i></button>
<button><i class="fas fa-tools"></i></button>
<button><i class="fas fa-building"></i></button>
<button><i class="fas fa-truck-moving"></i></button>
<button><i class="fas fa-coins"></i></button>
<button><i class="fas fa-cogs"></i></button>
<button><i class="fas fa-building"></i></button>